body {
    margin: 0;
    padding: 0;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
}
.container{
    
        margin: 0;
        padding: 0;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.5s;
    
}
.container2{
    float:below;
}
#colorDisplay{
    
    justify-content: center;
    align-items: center;
}